################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeClockAPI/.vs/*
/TimeClockAPI/*/bin
/TimeClockAPI/*/obj
/TimeClockAPI/*/Migrations
